.remark{
    
    margin-left: 85px;
}
 .b1{
    margin-left: 30px;
    margin-top: 20px;
}
.b2{
    margin-left: 70px;
    margin-top: 20px;

}
.b3{
    margin-left: 100px;
    margin-top: 20px;

}
.b6{
    margin-left: 350px;
    margin-top: 20px;
}
.b7{
    margin-top: 20px;
    padding: 10px;
}
.b8{
    margin-top: 20px;
    padding: 10px;
}
